body {
  background: linear-gradient(45deg, #B0C1D9, #8EA8BF);
  background-image: url(./img/light-blue-vector-low-poly-crystal-background-polygon-design-pa-915809723.jpg);
  height: 100vh;
}
.login-page {
  position: absolute;
  background-color: rgb(233, 233, 233);
  width: 900px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.login-welcome {
  width: 50%;
  background-color: red;
  background-image: url(./img/Blue-Abstract-Background-For-You-3165286061.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.login-area {
  padding: 50px;
  width: 50%;
}
h1 {
    font-family: "Roboto", sans-serif;
    color: #252525;
  }
.login-form {
    position: relative;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: s;
  flex-grow: 1;
  height: calc(60%);
}
label {
    font-size: small;
    color: #585858;
    font-weight: bold;
}
input[type=text] {
    height: 5px;
    background-color: transparent;
    border: 0;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #067cae, #5fc2d5);
    border-bottom: 4px solid blue;
    width: 50%;
    margin-bottom: 25px;
    transition: 0.5s;
    font-size: large;
    padding: 10px;
}
input[type=text]:focus {
    outline: none;
    width: 70%;
}
.login-btn {
    width: 100%;
    background:linear-gradient(65deg, #067cae, #5fc2d5);
    border: 0;
    padding: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
}
p {
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.guest-btn {
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border: 2px solid #353535;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}